@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Postinger</h1>
    <p>Bla bla bla, descripción que pensaré en un futuro bla bla vla</p>
</div>
