@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


        @*<script src="~/js/HomeCtrl.js"></script>*@
        <script src="~/js/PostCtrl.js"></script>
    </head>
    <style>
        .userImg {
            width: 50px;
            height: 42px;
        }
        .iconText {
            font-size: 25px;
        }
    </style>
    <div class="text-center pt-5" ng-app="PostApp" ng-controller="PostController" ng-init="init()">
        <h1 class="display-4">Bienvenido a Postinger</h1>
        <p>Bla bla bla, descripción que pensaré en un futuro bla bla vla</p></i>
        <center class="d-flex flex-wrap justify-content-center" ng-controller="PostController">
            <div class="card text-white mb-3 postCard text-black-50" ng-repeat="post in AllPosts" ng-bind-html-unsafe="post" @*ng-dblclick="showModal(post.id)"*@>
                <div class="card-header text-sm-left d-flex justify-content-between"><img class="userImg" src="~/profile.png"> {{post.autor}}
                    <span class="iconText">
                        <i class="fa fa-thumbs-up" ng-click="mg(id)"></i>
                        <i class="fa fa-thumbs-down"></i>
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{post.postName}}</h5>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                @*<div class="card-footer bg-transparent">{{post.fechaPublicacion}}</div>*@
                <div class="card-footer bg-transparent">
                    <div class="m-1 bg-primary rounded-circle" ng-repeat="comment in post.comentarios" ng-bind-html-unsafe="post">
                        <div class="card">
                            <div class="card-body d-flex float-left align-items-center">
                                <div class="bg-danger fotoUsuario"></div>
                                <div class="text-muted ml-3">{{comment.comentario}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="m-1 bg-primary">
                        <div class="card">
                            <div class="card-body d-flex float-left align-items-center">
                                <input type="text" name="comentario" placeholder="Agregar comentario" ng-model='commentData'>
                                <button ng-click="addComment(commentData,post.id)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
